:root {
    
    
    --cor-de-fundo: #e6e3bf;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: rgb(230, 224, 206);
}

h2{
     color: rgb(65, 17, 65);
     font-family: cormorant garamond;
     font-size: beige;
}

